h1 {
font-size: 50px;
  color: rgb(140, 217, 179);
    margin: auto;
    width: 59%;
    border: 5px solid 	rgb(148, 217, 179);
    padding: 15px;
}
h2 {font-size: 25px;
  color: rgb(102, 102, 255);
} 
h3{ font-size: 75px; 
    color: grey;
    margin: auto;
    width: 90%;
   border: 5px solid 	rgb(217, 217, 217);
  

}
h4{ font-size: 27px;
  color: rgb(166, 166, 166);
  
  
}
body {

p {color: 	rgb(106, 155, 200);
  font-size: 30px;
  font-family: 




 
<body>

<html>
<head>
<style>
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 29px;
}
  