h1 {
font-size: 50px;
  color: lightblue;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(60, 179, 113);
    padding: 10px;
}
body {
  background-color: white;
}
p {color: lightgray;
  font-size: 30px;
  font-family: 
  
}