h1 {
font-size: 50px;
  color: rgb(117, 163, 163);
    margin: auto;
    width: 34%;
    border: 3px solid 	rgb(140, 217, 179);
    padding: 10px;
}
body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
p {color: 	rgb(106, 155, 200);
  font-size: 30px;
  font-family: 

